<html>
<head>
<script src="https://connect.facebook.net/en_US/all.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var api_token;
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (api_token) {
                    xhr.setRequestHeader("Authorization", "Bearer " + api_token);
                }
            }
        });

        FB.init({ 
            appId: '{{ fb_id }}', 
            cookie: true, 
            xfbml: true, 
            status: true });

        FB.getLoginStatus(function (response) {
            if (response.authResponse) {
                var fb_token = response.authResponse.accessToken;
                $('#FBAccessToken').val(response.authResponse.accessToken);
                $.post("/api/v1/auth/social/facebook/", {access_token: fb_token}, function(returnedData) {
                // This callback is executed if the post was successful
                //self.resolutions.push(resolution);
                api_token = returnedData.token
                $('#APIAccessToken').val(returnedData.email);
                $.get("/api/v1/accounts/", function(returnedData) {
                    // This callback is executed if the post was successful
                    //self.resolutions.push(resolution);
                    $('#APIData').val(returnedData.email);
                }); 
            }); 

            } else {
                // do something...maybe show a login prompt
                $('#FBAccessToken').val('NOT LOGGED IN');
            }
        });

    });
</script>
</head>
<body>
<form action="">
<input id="FBAccessToken" type="text" value="" />
<input id="APIAccessToken" type="text" value="" />
<input id="APIData" type="text" value="" />
</form>
<div id="fb-root"></div>
</body>
</html>
